appdirs
attrs
Babel
beautifulsoup4
blinker
Bottleneck
Brotli
certifi
configobj
contourpy
cryptography
cycler
dbus-python
decorator
defer
defusedxml
distro
distro-info
et-xmlfile
fonttools
fs
html5lib
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
kiwisolver
launchpadlib
lazr.restfulclient
lazr.uri
louis
lxml
lz4
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
natsort
netaddr
netifaces
numexpr
numpy
oauthlib
odfpy
olefile
openpyxl
packaging
pandas
pexpect
pillow
ptyprocess
py-cpuinfo
pycairo
pycups
Pygments
PyJWT
pyparsing
pyrsistent
pyserial
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
SciPy
setuptools
six
soupsieve
sympy
systemd-python
tables
typing_extensions
ubuntu-pro-client
ufoLib2
ufw
unattended-upgrades
unicodedata2
urllib3
wadllib
webencodings
wheel
wxPython
xdg
xkit
